@import "reset";
@import "bootstrap";

@font-face {
    font-family: 'CrimsonText';
    src: url('../fonts/CrimsonText-Regular.woff2') format('woff2'),
        url('../fonts/CrimsonText-Regular.woff') format('woff'),
        url('../fonts/CrimsonText-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonText';
    src: url('../fonts/CrimsonText-Italic.woff2') format('woff2'),
        url('../fonts/CrimsonText-Italic.woff') format('woff'),
        url('../fonts/CrimsonText-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CrimsonText';
    src: url('../fonts/CrimsonText-Bold.woff2') format('woff2'),
        url('../fonts/CrimsonText-Bold.woff') format('woff'),
        url('../fonts/CrimsonText-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overlock';
    src: url('../fonts/Overlock-Regular.woff2') format('woff2'),
        url('../fonts/Overlock-Regular.woff') format('woff'),
        url('../fonts/Overlock-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overlock';
    src: url('../fonts/Overlock-Bold.woff2') format('woff2'),
        url('../fonts/Overlock-Bold.woff') format('woff'),
        url('../fonts/Overlock-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overlock';
    src: url('../fonts/Overlock-Italic.woff2') format('woff2'),
        url('../fonts/Overlock-Italic.woff') format('woff'),
        url('../fonts/Overlock-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
$crimson: CrimsonText;
$overlock: Overlock;
.crimson {
    font-family: $crimson;
}
.overlock {
    font-family: $overlock;
}
a{
    text-decoration: none;
    color: #888;
}
//SET RESPONSIVE CALL WITH @INCLUDE
$mobile-width: 767px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1366px;
@mixin mobile {
    @media (max-width: #{$mobile-width}){
        @content;
    }
}
@mixin tablet {
    @media (max-width:#{$laptop-width - 1px}){
        @content;
    }
}
@mixin laptop {
    @media (max-width:#{$desktop-width}){
        @content;
    }
}
@mixin desktop {
    @media (max-width: 1600px){
        @content;
    }
}
.isPc{
    display: block;
    @include tablet{
        display: none !important;
    }
}
.isMobile{
    display: none;
    @include tablet{
        display: block !important;
    }
}
.disabled{
    display: none;
    opacity: 0;
    transition: ease 0.5s;
}
.enabled{
    display: block !important;
    opacity: 0.9 !important;
    transition: ease 0.5s;
}

//Loader
.loader-wrapper {
    //display: none;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    padding:0;
    margin:0;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

//KEYFRAMES FOR LOADING SCREEN
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

// RESPONSIVE FOR DESKTOP 
.desktop-w{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.desktop-sm{
    width: 70%;
    max-width: 1100px;
}
.desktop-md{
    width: 80%;
    max-width: 1500px;
    @include tablet{
        width: 100%;
        padding: 0 10px;
    }
}

*{
    box-sizing: border-box;
}

//SOME RULES FOR HTML AND BODY
html {
    scroll-behavior: smooth;
}
body{
    font-size: 16px;
    font-family: $crimson;
    line-height: 1.8;
    letter-spacing: .4px;
    img{
        display: block;
        width: 100%;
    }
    @include desktop{
        font-size: 14px;
    }
}

.h2-title{
    font-size: 40px;
    font-weight: bold;
    color: #333;
    font-style: oblique;
    letter-spacing: 3px;
}

.btn-check:focus + .btn, .btn:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-toggle::after{
    border: none;
    background: url('../images/arr-down.svg') center no-repeat;
    width: 10px;
    height: 10px;
    vertical-align: 0em;
    margin-left: 0px;
}

//HEADER CSS
header{
    .header-top{
        border-bottom: 1px solid#eaeaea;
        background-color: #f5eec2;
        .desktop-md{
            align-items: center;
            .left{
                width: 33%;
                .isPc{
                    text-align: left;
                    a{
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    a.btn{
                        border: none;
                    }
                    ul.dropdown-menu{
                        background: #f5eec2;
                        border-radius: 0;
                        border: none;
                        text-align: center;
                    }
                    ul.dropdown-menu.show{
                        transform: translate(-50%, 50%) !important;
                        left: 50% !important;
                    }
                }
                .isMobile{
                    .menu-wrapper-mobile{
                        display: flex;
                        flex-wrap: wrap;
                        .img{
                            width: 15%;
                        }
                        .menu-text{
                            width: 50%;
                            font-size: 18px;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            p{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }   
            .center{
                width: 33%;
                text-align: center;
                span{
                    font-size: 20px;
                    font-weight: bold;
                }
                .img{
                    padding: 0px 120px;
                }
            }
            .right{
                width: 33%;
                .wrap{
                    justify-content: flex-end;
                    .item{
                        width: 10%;
                        margin-left: 20px;
                        padding: 5px;
                        @include tablet{
                            width: 15%;
                        }
                        &.search-icon{
                            position: relative;
                            #mainSearchDisplay{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 300px;
                                transform: translate(-75%, 100%);
                                input{
                                    width: 300px
                                }
                                li.list-group-item{
                                    &:hover{
                                        background-color:lightgoldenrodyellow;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        &.user-login{
                            padding: 0px;
                        }
                        &.go-to-cart{
                            position: relative;
                            .img{
                                a{
                                    cursor: pointer;
                                }
                            }
                            #cartDisplay{
                                opacity: 0.9;
                                transition: ease 0.5s;
                            }
                            .product-container{
                                position: absolute;
                                left: 0;
                                transform: translate(-90%, 5px);
                                width: 500px;
                                z-index: 5;
                                .products{
                                    ul{
                                        li{
                                            display: flex;
                                            flex-wrap: wrap;
                                            .img{
                                                width: 20%;
                                                img{

                                                }
                                            }
                                            .description{
                                                width: 70%;
                                                padding-left: 5px;
                                            }
                                            .delete-item{
                                                width: 10%;
                                                display: flex;
                                                justify-content: flex-end;
                                                .img{
                                                    width: 50%;
                                                }
                                            }
                                        }
                                    }
                                    .sum-and-taxes{
                                        .info{
                                            .col{
                                                width: 50%;
                                            }
                                        }
                                        .checkout{
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mobile-overlay{
            background: rgba(0,0,0,.7) none repeat scroll 0 0;
            bottom: 0;
            left: 0;
            min-height: 100vh;
            position: fixed;
            right: 0;
            top: 0;
            transition: all 0.3s ease-in-out 0s;
            display: none;
        }
        .menu-mobile{
            background: #f5eec2 none repeat scroll 0 0;
            bottom: 0;
            left: 0;
            position: fixed;
            top: 0;
            width: 300px;
            height: 100vh;
            transform: translate3d(-400px,0,0);
            transition: all 0.3s ease-in-out 0s;
            z-index: 999;
            .wrap{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding: 0px 20px;
                text-align: left;
                a{
                    font-size: 18px;
                    color: #333;
                }
                ul{
                    padding-left: 10px;
                    ul{
                        display: none;
                    }
                    li.menu{
                        font-weight: bold;
                        text-align: center;
                        font-size: 22px;
                        position: relative;
                        a{
                            position: absolute;
                            right: 0;
                            img{
                                display: inline-block;
                            }
                        }
                    }
                }
                ul#menuMobile li:not(.no-hover):hover{
                    ul{
                        display: block !important;
                    }
                }
            }
        }
        .activate{
            transform: translate3d(0,0,0) !important;
            transition: all 0.3s ease-in-out 0s;
        }
    }
    .header-banner{
        padding-top: 20px;
        border-bottom: 1px solid#eaeaea;
        .desktop-md{
            .left{
                justify-content: left;
                align-items: center;
                display: flex;
                @include tablet{
                    width: 50%;
                }
                .item-width{
                    width: 50%;
                    @include tablet{
                        width: 100%;
                    }
                    .img{
                        width: 30%;
                    }
                    .email-contact{
                        width: 70%;
                        padding-left: 20px;
                        padding-top: 10px;
                        h2{
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 0px;
                        }
                        .email{
                            color:#888;
                            font-size: 18px;
                            letter-spacing: .4px;
                            margin-bottom: 0px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
            .center{
                margin: 0 auto;
                @include tablet{
                    width: 0;
                }
                .img{
                    width: 50%;
                    margin: 0 auto;
                    @include desktop{
                        width: 80%;
                    }
                }
            }
            .right{
                justify-content: flex-end;
                align-items: center;
                display: flex;
                @include tablet{
                    width: 50%;
                }
                .item-width{
                    width: 50%;
                    @include tablet{
                        flex-direction: row-reverse;
                        width: 100%;
                    }
                    .img{
                        width: 30%;
                    }
                    .phone-contact{
                        width: 70%;
                        padding-left: 20px;
                        padding-top: 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @include tablet{
                            text-align: right;
                            padding-left: 0;
                            padding-right: 20px;
                        }
                        h2{
                            font-size: 18px;
                            font-weight: bold;
                            margin-bottom: 0;
                        }
                        .phone-number{
                            color: #888;
                            font-size: 18px;
                            letter-spacing: .4px;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}
@keyframes inAndOut{
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.9);
    }
}
@keyframes priceDisplay{
    0%{
        transform: scale(0.9);
        color: #f0a04b;
    }
    50%{
        transform: scale(1.2);
        color: #fd8301;
    }
    0%{
        transform: scale(0.9);
        color: #f0a04b;
    }
}
@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes buttonOutLeft{
    0%{
        opacity: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(-4rem);
        -ms-transform: translateX(-4rem);
        transform: translateX(-4rem);
    }
}
@keyframes buttonOutRight{
    from{
        opacity: 0;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(4rem);
        -ms-transform: translateX(4rem);
        transform: translateX(4rem);
    }
}

@keyframes rotateOut{
    from{
        opacity: 0;
        transform: rotateY(-85deg);
    }
    to{
        opacity: 1;
        transform: rotate(0deg)
    }
}

//SETTINGS FOR STICKY MENU-NAVIGATOR
.menu-navigator{
    background-color: #943d24;
    font-size: 20px;
    a{
        font-weight: 600;
        color: white;
        &:hover{
            background-color: inherit;
            transition: all ease-in-out 0.5s;
            cursor: pointer;
        }
        &:active{
            background-color: inherit;
        }
        &:focus{
            background-color: inherit;
        }
    }
    li:hover{
        background-color:inherit;
    }
    .menu{
        width: 100%;
        padding: 10px 0;
    }
    .desktop-w{
        .menu{
            .nav{
                a.clothes-toggle{
                    &:after{
                        background: none !important;
                    }
                }
                ul.clothes-dropdown{
                    background-color: #943d24;
                    a{
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    animation: fadeInDown 1s ease forwards;
}

//ANIMATE FOR ON IMAGE HOVER
a.scrolldown-hover{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        display: block;
        width: 485px;
        height: 0;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba(255,255,255,.6) none repeat scroll 0 0;
        transition: ease .5s;
    }
    &:hover{
        &:after{
            opacity: 1;
            height: 485px;
            transition: ease .5s ;
        }
    }
}

//SECTIONS
section{
    &.banner{
        padding-bottom: 30px;
        overflow-x: hidden;
        &:hover{
            .carousel-control-prev-icon{
                opacity: 1 !important;
                transform: translateX(-4rem) !important;
                transition: all .8s;  
                @include tablet{
                    transform: translateX(0) !important;
                }

            }
            .carousel-control-next-icon{
                opacity: 1 !important;
                transform: translateX(4rem) !important;
                transition: all .8s; 
                @include tablet{
                    transform: translateX(0) !important;
                }
            }
        }
        .desktop-md{
            #bannerCarousel{
                .carousel-inner{
                    height: 750px;
                    @include desktop{
                        height: 500px;
                    }
                    @include tablet{
                        height: 500px;
                    }
                    @include mobile{
                        height: 300px;
                    }
                }
                .carousel-control-prev{
                    justify-content: normal;
                    .carousel-control-prev-icon{
                        background-color: #6c757d;
                        width: 4rem;
                        height: 4rem;
                        opacity: 0;
                        transition: all .8s;
                        -webkit-transform: translateX(0);
                        -ms-transform: translateX(0);
                        transform: translateX(0);
                        border-radius: 5px;
                    }
                }
                .carousel-control-next{
                    justify-content: flex-end;
                    .carousel-control-next-icon{
                        background-color: #6c757d;
                        width: 4rem;
                        height: 4rem;
                        opacity: 0;
                        transition: all .8s;
                        -webkit-transform: translateX(0);
                        -ms-transform: translateX(0);
                        transform: translateX(0);
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    &.clothes-discount-banner{
        padding-bottom: 30px;
        .wrap{
            justify-content: space-between;
            height: 485px;
            @include desktop{        
                height: 400px;
            }
            @include mobile{
                height: 300px;
            }
            .block{
                width: calc(33% - 10px);
                @include tablet{
                    width: calc(49%);
                }
                &.block{
                    height: inherit;
                    .img{
                        height: inherit;
                        a{
                            height: inherit;
                            img{
                                height: inherit;
                            }
                        }
                    }
                }
                &.block2{
                    @include tablet{
                        display: none;
                    }
                }
            }
        }
    }
    &.trending-products{
        min-height: 1190px;
        @include desktop{
            min-height: 990px;
        }
        .title{
            padding-bottom: 30px;
            text-align: center;
            .category{
                justify-content: center;
                ul{
                    li{
                        margin: 0 20px;
                        a{
                            background-color: #f5eec2;
                            color: black;
                            transition: all ease 0.3s;
                            &:hover{
                                cursor: pointer;
                                background-color: #f0a04b;
                                color: white;
                                transition: all ease 0.5s;
                            }
                        }
                        a.active{
                            background-color: #f0a04b;
                            color: white;
                        }
                    }
                } 

            }
        }
        .wrap{
            flex-wrap: wrap;
            justify-content: space-between;
            @include tablet{
                justify-content: unset;
            }
            .item{
                width: calc(25% - 20px);
                padding-bottom: 20px;
                position: relative;
                @include laptop{
                    width: calc(25% - 5px);
                }
                @include tablet{
                    width: calc(32%);
                    margin-right: 7px;
                }
                @include mobile{
                    width: calc(49% - 7px);
                }
                &:hover{
                    cursor: pointer;
                    .item-hover{
                        span{
                            opacity: 1;
                            transform: translateY(-64%);
                            transition: all ease 0.5s;
                        }
                    }
                    .item-width{
                        .product-description{
                            .product-price-and-discount{
                                opacity: 0;
                                transition: all ease 0.5s;
                            }
                        }
                    }
                }
                .item-width{
                    .img{
                        height: 400px;
                        padding: 0px 30px;
                        margin-bottom: 10px;
                        @include desktop{
                            height: 300px;
                        }
                        a{
                            height: inherit;
                        }
                        img{
                            height: inherit;
                            
                        }
                        // &:hover{
                        //     animation: rotateOut 2s ease;
                        // }
                    }
                    .product-description{
                        background-color: #f5eec2;
                        height: 100px;
                        border-radius: 5px;
                        padding: 0px 10px;
                        flex-wrap: wrap;
                        color: #888;
                        h3{
                            font-size: 20px;
                            text-align: center;
                            width: 100%;
                            @include desktop{
                                font-size: 16px;
                            }
                        }
                        .product-price-and-discount{
                            width: 100%;
                            text-align: center;
                            font-weight: bold;
                            justify-content: center;
                            display: flex;
                            align-items: flex-end;
                            opacity: 1;
                            transition: all ease 0.5s;
                            span{
                                padding: 0 10px;
                            }
                            .regular-price{
                                text-decoration: line-through;
                                color: #943d24;
                                @include laptop{
                                    display: none;
                                }
                            }
                            .discount-percentage{
                                background: red;
                                border: 1px solid red;
                                font-size: 22px;
                                padding: 0px 5px;
                                border-radius: 5px;
                                color: white;
                                @include desktop{
                                    font-size: 18px;
                                }
                                @include laptop{
                                    font-size: 16px;
                                }
                            }
                            .price{
                                animation: priceDisplay ease-in-out 3s infinite;
                                font-size: 20px;
                                color: #f0a04b;
                                @include desktop{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                .item-hover{
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 54%);
                    z-index: 2;
                    text-align: center;
                    @include desktop{
                        width: 65%;
                    }
                    span{
                        background-color: #f0a04b;
                        color: white;
                        font-weight: bold;
                        padding: 10px 20px;
                        font-size: 20px;
                        display: block;
                        border-radius: 5px;
                        opacity: 0;
                        transition: all ease 0.5s;
                        @include desktop{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    &.clothes-banner{
        padding-top: 30px;
        padding-bottom: 50px;
        .desktop-md{
            .background-parallex{
                background: url("../images/washed-clothes.jpg") no-repeat;
                opacity: .6;
                background-attachment: fixed;
                background-size: 85%;
                background-position-x: 50%;
                @include desktop{
                    background-size: 100%;
                }
                @include laptop{
                    background-size: 150%;
                }
                @include tablet{
                    background-size: cover;
                }
                .content{
                    text-align: center;
                    padding: 200px 0;
                    width: 25%;
                    margin: auto;
                    background: white;
                    @include desktop{
                        padding: 150px 0;
                    }
                    @include tablet{
                        padding: 100px 0;
                        width: 40%;
                    }
                    .title{
                        h2{
                            font-size: 50px;
                            font-weight: bold;
                            @include tablet{
                                font-size: 35px;
                            }
                        }
                    }
                    .text{
                        padding-bottom: 30px;
                        p{
                            font-size: 25px;
                            color: #242f3f;
                            margin-bottom: 0px;
                            @include tablet{
                                font-size: 20px;
                            }
                            &:nth-last-child(){
                                color: #f0a04b;
                            }
                        }
                    }
                    span{
                        width: 20%;
                        padding: 10px 10px;
                        background-color: #f5eec2;
                        font-size: 20px;
                        margin: auto;
                        transition: ease 0.5s;
                        a{  
                            font-family: $overlock;
                            color: #333;
                            text-decoration: none;
                            font-weight: bold;
                        }

                        &:hover{
                            cursor: pointer;
                            background-color: #f0a04b;
                            transform: scale(1,1);
                            transition: ease 0.5s;
                        }
                    }
                }
            }
        }
    }
    &.clothes-section{
        border-bottom: 1px solid#eaeaea;
        border-top: 1px solid#eaeaea;
        .desktop-w{
            .wrap{
                justify-content: space-between;
                @include tablet{
                    justify-content: unset !important;
                }
                .item{
                    width: calc(20% - 20px);
                    padding-bottom: 20px;
                    position: relative;
                    @include laptop{
                        width: calc(20% - 5px);
                    }
                    @include tablet{
                        width: 32%;
                        margin-right: 7px;
                    }
                    @include mobile{
                        width: calc(49% - 7px);
                    }
                    &:hover{
                        cursor: pointer;
                        .item-hover{
                            span{
                                opacity: 1;
                                transform: translateY(-64%);
                                transition: all ease 0.5s;
                            }
                        }
                        .item-width{
                            .product-description{
                                .product-price-and-discount{
                                    opacity: 0;
                                    transition: all ease 0.5s;
                                }
                            }
                        }
                    }
                    .item-width{
                        .img{
                            height: 285px;
                            padding: 0px 30px;
                            margin-bottom: 10px;
                            @include desktop{
                                height: 250px;
                            }
                            a{
                                height: inherit;
                            }
                            img{
                                height: inherit;
                            }
                        }
                        .product-description{
                            background-color: #f5eec2;                      
                            height: 125px;
                            border-radius: 5px;
                            padding: 0px 10px;
                            flex-wrap: wrap;
                            color: #888;
                            h3{
                                font-size: 20px;
                                text-align: center;
                                width: 100%;
                                @include desktop{
                                    font-size: 16px;
                                }
                            }
                            .product-price-and-discount{
                                width: 100%;
                                text-align: center;
                                font-weight: bold;
                                justify-content: center;
                                display: flex;
                                align-items: flex-end;
                                opacity: 1;
                                transition: all ease 0.5s;
                                span{
                                    padding: 0 10px;
                                }
                                .regular-price{
                                    text-decoration: line-through;
                                    color: #943d24;
                                    @include laptop{
                                        display: none;
                                    }
                                }
                                .discount-percentage{
                                    background: red;
                                    border: 1px solid red;
                                    font-size: 22px;
                                    padding: 0px 5px;
                                    border-radius: 5px;
                                    color: white;
                                    @include desktop{
                                        font-size: 18px;
                                    }
                                }
                                .price{
                                    animation: priceDisplay ease-in-out 3s infinite;
                                    font-size: 20px;
                                    color: #f0a04b;
                                    @include desktop{
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                    .item-hover{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 54%);
                        z-index: 2;
                        text-align: center;
                        @include desktop{
                            width: 65%;
                        }
                        span{
                            background-color: #f0a04b;
                            color: white;
                            font-weight: bold;
                            padding: 10px 10px;
                            font-size: 20px;
                            display: block;
                            border-radius: 5px;
                            opacity: 0;
                            transition: all ease 0.5s;
                            @include desktop{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        .clothes-pagination{
            padding-top: 20px;
            
            .desktop-w{
                background-color: #f5eec2;
                ul.pagination{
                    li{
                        a{
                            color: #333;
                            border: none;
                            font-size: 20px;
                            font-weight: 600;
                            background-color: #f5eec2;
                            &:hover{
                                cursor: pointer;
                            }
                            &.active{
                                background-color:#343a40;
                                color: white;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    &.electronics-banner{
        border-bottom: 1px solid#eaeaea;
        .background-parallex{
            background: url("../images/electronics-sale.jpg") no-repeat;
            height: 500px;
            opacity: .6;
            background-attachment: fixed;
            background-size: 80%;
            background-position-x: 50%;
            @include desktop{
                background-size: 100%;
            }
            @include laptop{
                background-size: 150%;
            }
            @include tablet{
                background-size: cover;
            }
        }
    }
    &.electronics-section{
        border-bottom: 1px solid#eaeaea;
        .desktop-w{
            .electronics-title{
                text-align: center;
                padding: 30px 0 0px 0;
            }
            .electronics-brand{
                padding-bottom: 30px;
                .wrap{
                    padding: 50px 0;
                    justify-content: space-between;
                    .block{
                        width: 30%;
                        align-items: center;
                        .img{
                            a.scrolldown-hover{
                                &:hover{
                                    &:after{
                                        height: 113px;
                                    }

                                }
                            }
                            img{
                                height: 113px;
                            }
                        }
                    }
                }
            }
            .wrap{
                justify-content: space-between;
                @include tablet{
                    justify-content: unset;
                }
                .item{
                    position: relative;
                    width: 27%;
                    padding-bottom: 45px;
                    @include tablet{
                        width: 32%;
                        margin-right: 7px;
                    }
                    @include mobile{
                        width: calc(49% - 7px);
                    }
                    &:hover{
                        cursor: pointer;
                        .item-hover{
                            span{
                                opacity: 1;
                                transform: translateY(-64%);
                                transition: all ease 0.5s;
                            }
                        }
                        .item-width{
                            .product-description{
                                .product-price-and-discount{
                                    opacity: 0;
                                    transition: all ease 0.5s;
                                }
                            }
                        }
                    }
                    .item-width{
                        .img{
                            height: 285px;
                            padding: 0 30px;
                            margin-bottom: 10px;
                            a{
                                height: inherit;
                            }
                            img{
                                height: inherit;
                            }
                        }
                        .product-description{
                            background-color: #f5eec2;                      
                            height: 125px;
                            border-radius: 5px;
                            padding: 0px 10px;
                            flex-wrap: wrap;
                            color: #888;
                            h3{
                                width: 100%;
                                text-align: center;
                                font-weight: bold;
                                justify-content: center;
                                display: flex;
                                align-items: flex-end;
                                opacity: 1;
                                @include desktop{
                                    font-size: 16px;
                                }
                            }
                            .product-price-and-discount{
                                margin: 0 auto;
                                span{
                                    font-size: 24px;
                                    color: #f0a04b;
                                    font-weight: bold;
                                    transition: ease 0.3s;
                                    &:hover{
                                        transform: scale(1.1);
                                        transition: ease 0.3s;
                                    }
                                };
                            }
                        }
                    }
                    .item-hover{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 20%);
                        z-index: 2;
                        text-align: center;
                        @include desktop{
                            width: 65%;
                        }
                        span{
                            background-color: #f0a04b;
                            color: white;
                            font-weight: bold;
                            padding: 10px 20px;
                            font-size: 20px;
                            display: block;
                            border-radius: 5px;
                            opacity: 0;
                            transition: all ease 0.5s;
                            @include desktop{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.jewelry-banner{
        padding: 50px 0 50px 0;
        border-bottom: 1px solid#eaeaea;
        .desktop-md{
            .wrap{
                justify-content: space-around;
                .banner{
                    width: 30%;
                }
            }
        }

    }
    &.jewelry-section{
        padding: 50px 0 50px 0;
        border-bottom: 1px solid#eaeaea;  
        .desktop-w{
            .wrap{
                justify-content: space-between;
                @include tablet{
                    justify-content: space-around;
                }
                .item{
                    width: calc(20% - 10px);
                    @include tablet{
                        width: calc(40% - 10px);
                        padding-bottom: 20px;
                    }
                    .img{
                        position: relative;
                        height: 200px;
                        @include tablet{
                            width: 60%;
                            margin: auto;
                        }
                        a{
                            height: inherit;
                            cursor: pointer;
                        }
                        img{
                            height: inherit;
                        }
                        img.main-img{
                            // border: .5px solid #888;
                            border-radius: 15px;
                        }
                        .item-hover{
                            position: absolute;
                            display: none;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 200px;
                        }
                    }
                    .product-description{
                        text-align: center;
                        min-height: 105px;
                        h3{
                            text-shadow: 2px 3px 2px silver;
                        }
                    }
                }
            }
        }  
    }
    &.brands{
        padding: 50px 0 50px 0;
        .desktop-w{
            .title{
                padding-bottom: 30px;
            }
            .brands-icons{
                .block{
                    width: 30%;
                    @include desktop{
                        width: 40%;
                    }
                }
            }
        }
    }
}
footer{
    .parallex-footer{
        position: relative;
        padding: 100px 0;
        @include mobile{
            padding: 50px 0;
        }
        &:before{
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.6;
            background-image: url('../images/footer-background.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            z-index: -1;
        }
        .desktop-w{
            .wrapper{ 
                @include mobile{
                    flex-direction: column-reverse;
                }
                .block{
                    &.block1{
                        width: 30%;
                        border-right: 1px solid#888;  
                        @include mobile{
                            width: 100%;
                            justify-content: center;
                        }
                        .my-brand{
                            border-bottom: 1px solid#888; 
                            @include mobile{
                                display: none;
                            }
                            .img{
                                img{
                                    margin: auto;
                                    width: 40%;
                                }
                            }
                            .shop-info{
                                padding: 0 20px;
                            }
                        }
                        .sign-up-email{
                            .sign-up-title{
                                color: #888;
                                font-weight: bold;
                            }
                            .sign-up-wrapper{
                                input.email-submit{
                                    width: 70%;
                                }
                                .sign-up-button{
                                    width: 30%;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                    &.block2{
                        width: 70%;
                        @include mobile{
                            width: 100%;
                        }
                        .part{
                            .wrap{
                                .item{
                                    .img{
                                        padding: 10px 0;
                                        img{
                                            width: 25%;
                                            margin: auto;
                                        }
                                    }
                                }
                            }
                            &.part1{
                                width: 100%;
                                border-bottom: 1px solid#888; 
                                .wrap{
                                    .item{
                                        width: 30%;
                                    }
                                }
                            }
                            &.part2{
                                width: 100%;
                                dl, ol, ul{
                                    padding-bottom: 0;
                                    padding-left: 0;
                                }
                                .wrap{
                                    .item{
                                        width: 30%;
                                        ul{
                                            li{
                                                a{
                                                    transition: ease 0.5s;
                                                    @include mobile{
                                                        color: black;
                                                    }
                                                    &:hover{
                                                        color: black;
                                                        padding-left: 10px;
                                                        transition: ease 0.5s;
                                                    }
                                                }
                                            }
                                        }
                                        &.item3{
                                            ul{
                                                li.block{
                                                    .icon{
                                                        width: 10%;
                                                    }   
                                                    .data{
                                                        width: 90%;
                                                        padding-left: 10px;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.modal.card {
    display: none;
    background: transparent;
    .modal-dialog{
        position: relative;
        height: 100%;
        max-width: 1000px;
        .modal-content{
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
            0 2px 10px 0 rgba(0, 0, 0, 0.12);
            transition: all 0.3s;
        
            &:hover {
                box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .modal-header{
                background: #f5eec2;
                .back{
                    width: 40%;
                    h5{
                        cursor: pointer;
                        &:hover{
                            color: #000;
                            text-decoration: none;
                            opacity: .75;
                        }
                        .arrow{
                            height: 30px;
                            width: 30px;
                            margin-right: 10px;
                            cursor: pointer;
                            &:hover{
                                color: #000;
                                text-decoration: none;
                                opacity: .75;
                                
                            }
                        }
                    }
                }
                .img-heart{
                    width: 50%;
                    .heart{
                        height: 30px;
                        width: 30px;
                        float: right;
                        transition: all 0.3s ease;
                        cursor: pointer;
                
                        &:hover {
                          fill: red;
                        }
                    }
                }
            }
            .modal-body{
                .product-info {
                    
                    margin: 0 auto;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
                    0 2px 10px 0 rgba(0, 0, 0, 0.12);
                    transition: all 0.3s;
                
                    &:hover {
                        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
                        0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                    .photo {
                        padding: 30px;
                        width: 30%;
                        text-align: center;
                        float: left;
                        border-right: 2px solid #efefef;
                        img {
                            max-height: 285px;
                        }
                    }
                    
                    .description {
                        padding: 30px;
                        float: left;
                        width: 70%;
                    
                        h1 {
                            color: #515151;
                            font-weight: 300;
                            padding-top: 15px;
                            margin: 0;
                            font-size: 30px;
                            font-weight: 300;
                        }
                    
                        h2 {
                            color: #515151;
                            margin: 0;
                            text-transform: uppercase;
                            font-weight: 500;
                            margin-bottom: 5px;
                        }
                
                        h4 {
                            margin: 0;
                            color: #727272;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 12px;
                        }
                
                        p {
                            font-size: 18px;
                            line-height: 20px;
                            color: #727272;
                            padding: 20px 0;
                            margin: 0;
                        }
                
                        button {
                            outline: 0;
                            border: 0;
                            background: #f5eec2;
                            border: 1px solid #d9d9d9;
                            padding: 8px 0px;
                            margin-bottom: 30px;
                            color: #515151;
                            text-transform: uppercase;
                            width: 125px;
                            font-family: inherit;
                            margin-right: 5px;
                            transition: all 0.3s ease;
                            font-weight: 500;
                            &.btn2{
                                width: 200px;
                            }
                            &:hover {
                                // background: darken(white, 2%);
                                border: 1px solid #aedaa6;
                                color: #aedaa6;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .modal-footer{
                background: #f5eec2;
            }
        }
    }
}